@media (max-width: 75em) {
  html {
    /* 9px / 16px = 56.25% */
    font-size: 56.25%;
  }

  .user-panel {
    font-size: 1.4rem;
  }

  .doc-enter {
    font-size: 1.4rem;
  }

  .QA {
    font-size: 1.4rem;
  }

  .search-container {
    padding: 0 0.5rem;
  }

  .input {
    padding: 0;
  }
}

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 50% */
    font-size: 50%;
  }

  .upsection {
    padding: 2rem 5rem;
  }

  .downsection {
    height: fit-content;
    background-color: #88ddff;
    position: absolute;
    top: 12rem;
    right: 0;
    width: 33vw;
    height: 200vh;
    z-index: 10;
    padding: 0;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    transform: translateX(100%);

    transition: all 0.5s ease-in;

    /* Hide Navigation */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .downsection {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translatex(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .btn-mobile-nav {
    display: block;
  }

  .navbar-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    padding: 2rem 0 0 0;
    gap: 1.5rem;
  }

  .user-panel {
    font-size: 1.8rem;
    color: #00748e;
    background-color: transparent;
    border: none;
    box-shadow: none;
    width: 80%;
    text-align: center;
    backdrop-filter: drop-shadow(4px 4px 10px blue);
  }

  .doc-enter {
    font-size: 1.8rem;
    color: #00748e;
    background-color: transparent;
    border: none;
    box-shadow: none;
    width: 80%;
    text-align: center;
  }

  .QA {
    font-size: 1.8rem;
    color: #00748e;
    background-color: transparent;
    border: none;
    box-shadow: none;
    width: 80%;
    text-align: center;
  }

  /* ******** OVERLAY ********* */
  .nav-open .overlay {
    opacity: 100%;
  }
}
