.container {
  padding: 5rem 10rem;
}

.up-section {
  display: flex;
  gap: 10rem;
  height: fit-content;
}

.card-buttons-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
  flex: 1.5;
}

.card {
  height: 20rem;
  display: flex;
  gap: 1rem;
}

.img-wrapper {
  border-radius: 0 10px 0 0;
  flex: 1.3;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.img {
  width: cover;
  height: 100%;
}

.info-wrapper {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.name-wrapper {
  display: flex;
  align-items: center;
}

.name {
  font-size: 2.2rem;
}

.city-specialty-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2%;
}

.city {
  font-size: 1.4rem;
  color: #00748e;
}

.specialty {
  font-size: 1.4rem;
  color: #00748e;
}

.params-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  margin-top: 4rem;
}

.followers-wrapper {
  display: flex;
  flex-flow: row-reverse;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.gmcNum-wrapper {
  display: flex;
  flex-flow: row-reverse;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.buttons-wrapper {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.my-list-button {
  flex: 1.3;
  background-color: #49a7aa;
  border-radius: 0 0 10px 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}

.my-list-button-text {
  font-size: 1.2rem;
  color: #fff;
}

.get-appointmetn-button {
  flex: 3;
  background-color: #0ecf38;
  border-radius: 0 0 0 10px;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}

.get-appointment-button-text {
  font-size: 1.6rem;
  color: #fff;
}

.further-information {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.further-information-title {
  font-size: 1.8rem;
  color: #00748e;
}

.further-information-title hr {
  border: none;
  height: 2px;
  background-color: #00748e;
}

.further-information-text {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 10;
}

.phone {
  font-weight: bold;
  text-align: center;
}

.instagram {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.instagram-text {
  font-size: 1.4rem;
  color: #e60060;
}

.down-section {
  display: flex;
  gap: 10rem;
  margin-top: 10rem;
}

.comment-section {
  flex: 1.5;
  border: 1px solid #d0faf3;
  border-radius: 15px;
  overflow: hidden;
}

.comment-title {
  font-size: 1.6rem;
  text-align: center;
  background-color: #d0faf3;
  color: #00748e;
  padding: 1rem 0;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.comment {
  padding: 0.5rem 1.5rem 0 1.5rem;
}

.comment hr {
  border: none;
  height: 1px;
  background-color: #d0faf3;
  margin-top: 0.5rem;
}

.name-stars-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-name {
  font-size: 1.2rem;
}

.comment-stars {
  display: flex;
  flex-flow: row-reverse;
}

.comment-text {
  font-size: 1.4rem;
}

.recommenders-container {
  flex: 2;
  border: 1px solid #d0faf3;
  overflow: hidden;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.recommenders-title {
  font-size: 1.6rem;
  width: 100%;
  text-align: center;
  background-color: #d0faf3;
  color: #00748e;
  padding: 10px;
}

.recommenders {
  flex: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem;
}

.recommender-card {
  flex: 1;
  height: 28rem;
  opacity: 90%;
  transition: 0.4s ease all;
  cursor: pointer;
}

.recommender-card:hover {
  opacity: 100%;
  scale: 105%;
}

.recommender-img-wrapper {
  width: 100%;
  height: 20rem;
  overflow: hidden;
  border-radius: 15px 15px 0 0;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.recommender-img {
  width: 100%;
  height: cover;
}

.recommender-info {
  height: 8rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 0.5rem;
  text-align: center;
}

.recommender-name {
  font-size: 1.8rem;
}

.recommender-desc {
  font-size: 1rem;
}
