* {
  box-sizing: border-box;
}

.container {
  padding: 50px 100px;
}

.upSection {
  display: flex;
  gap: 100px;
  height: fit-content;
}

.cardButtonsWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  flex: 1.5;
}

.card {
  height: 200px;
  display: flex;
  gap: 10px;
}

.imgWrapper {
  border-radius: 0 10px 0 0;
  flex: 1.3;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.img {
  width: cover;
  height: 100%;
}

.infoWrapper {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.nameWrapper {
  display: flex;
  /* flex-flow: row-reverse; */
  align-items: center;
}

.name {
  font-size: 22px;
}

.citySpecialtyWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2%;
}

.city {
  font-size: 12px;
  color: rgb(0, 150, 170);
}

.specialty {
  color: rgb(0, 150, 170);
  font-size: 12px;
}

.paramsWrapper {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 10%;
}

.followersWrapper {
  display: flex;
  flex-flow: row-reverse;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.gmcNumWrapper {
  display: flex;
  flex-flow: row-reverse;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.buttonsWrapper {
  height: 50px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.myListButton {
  flex: 1.3;
  background-color: #49a7aa;
  border-radius: 0 0 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.myListButtonText {
  font-size: 12px;
  color: #fff;
}

.getAppointmetnButton {
  flex: 3;
  background-color: #0ecf38;
  border-radius: 0 0 0 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.getAppointmentButtonText {
  font-size: 12px;
  color: #fff;
}

.furtherInformation {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.furtherInformationTitle {
  color: #00748e;
}

.furtherInformationTitle hr {
  border: none;
  height: 2px;
  background-color: #00748e;
}

.furtherInformationText {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 10;
}

.phone {
  font-weight: bold;
  text-align: center;
}

.instagram {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.instagramText {
  font-size: 12px;
  color: #e60060;
}

.downSection {
  display: flex;
  gap: 100px;
  margin-top: 50px;
  height: fit-content;
}

.commentSection {
  flex: 1.5;
  border: 1px solid #d0faf3;
  border-radius: 15px;
  overflow: hidden;
}

.commentTitle {
  text-align: center;
  background-color: #d0faf3;
  color: #00748e;
  padding: 10px;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comment {
  padding: 5px 15px 0 15px;
}

.comment hr {
  border: none;
  height: 1px;
  background-color: #d0faf3;
  margin-top: 5px;
}

.nameStarsWrapper {
  display: flex;
  justify-content: space-between;
}

.commentName {
  font-size: 10px;
}

.commentStars {
  display: flex;
  flex-flow: row-reverse;
}

.commentText {
  font-size: 14px;
}

.recommendersContainer {
  flex: 2;
  border: 1px solid #d0faf3;
  overflow: hidden;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.recommendersTitle {
  width: 100%;
  text-align: center;
  background-color: #d0faf3;
  color: #00748e;
  padding: 10px;
}

.recommenders {
  flex: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
}

.recommenderCard {
  flex: 1;
  height: 80%;
  opacity: 80%;
  transition: 0.4s ease all;
  cursor: pointer;
}

.recommenderCard:hover {
  opacity: 100%;
  scale: 105%;
}

.recommenderImgWrapper {
  width: 100%;
  height: 70%;
  overflow: hidden;
  border-radius: 25px 25px 0 0;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.recommenderImg {
  width: 100%;
  height: cover;
}

.recommenderInfo {
  height: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 5px;
  text-align: center;
}

.recommenderName {
  font-size: 18px;
}

.recommenderDesc {
  font-size: 8px;
}
