.register-body {
  width: 100vw;
  height: 100vh;

  /* background-image: url("https://img.freepik.com/free-photo/blur-hospital_1203-7972.jpg?size=626&ext=jpg&ga=GA1.2.1101400910.1643470091"); */
  background-image: url("https://thumbs.dreamstime.com/b/healthcare-medical-concept-medicine-doctor-stethoscope-hand-patients-come-to-hospital-background-179931139.jpg");
  /* background-image: url("https://thumbs.dreamstime.com/b/doctor-stethoscope-white-icon-medical-hospital-backg-background-technology-network-concept-94228000.jpg"); */
  /* background-image: url("https://thumbs.dreamstime.com/b/portrait-asian-medical-male-doctor-wear-mask-to-prevent-germs-standing-front-his-blurred-team-staff-hospital-186034827.jpg"); */

  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
}

.register-logo {
  position: absolute;
  width: auto;
  height: auto;
  top: 30px;
  right: 100px;

  cursor: pointer;
}

.register-container {
  background-color: #d0faf3;
  max-width: 70rem;
  padding: 5rem;
  border-radius: 15px;
  margin: auto;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.fieldset {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.label {
  color: #002533;
}

.input {
  font-family: "IRANSans", "Vazir", Arial, sans-serif;

  border: none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
}

.input::placeholder {
  color: #ddd;
}

.register-button {
  font-family: "IRANSans", "Vazir", Arial, sans-serif;
  font-size: 1.8rem;
  background-color: #2cbfd8;
  color: #fff;
  padding: 1rem 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 2rem;
}

.register-link {
  font-size: 1.4rem;
  color: #00748e;
  text-decoration: none;
}

.register-link:active {
  color: #88ddff;
}
