@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/IRANSansWeb.eot");
  src: url("fonts/IRANSansWeb.svg") format("svg"),
    url("fonts/IRANSansWeb.ttf") format("ttf"),
    url("fonts/IRANSansWeb.woff") format("woff"),
    url("fonts/IRANSansWeb.woff2") format("woff2");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url("fonts/IRANSansWeb_Bold.eot");
  src: url("fonts/IRANSansWeb_Bold.svg") format("svg"),
    url("fonts/IRANSansWeb_Bold.ttf") format("ttf"),
    url("fonts/IRANSansWeb_Bold.woff") format("woff"),
    url("fonts/IRANSansWeb_Bold.woff2") format("woff2");
}

@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/Vazir.eot");
  src: url("fonts/Vazir.eot?#iefix") format("embedded-opentype"),
    url("fonts/Vazir.woff2") format("woff2"),
    url("fonts/Vazir.woff") format("woff"),
    url("fonts/Vazir.ttf") format("truetype");
}

@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: bold;
  src: url("fonts/Vazir-Bold.eot");
  src: url("fonts/Vazir-Bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/Vazir-Bold.woff2") format("woff2"),
    url("fonts/Vazir-Bold.woff") format("woff"),
    url("fonts/Vazir-Bold.ttf") format("truetype");
}

body {
  font-family: "IRANSans", "Vazir", Arial, sans-serif;
  font-weight: normal;
}
